{% extends 'base.html' %}

{% block title %}Dashboard{% end %}

{% block extra_head %}
<script type="application/javascript">
    window.onload = function() {
        const ws = new WebSocket("ws://localhost:8888/data");
        ws.binaryType = "arraybuffer";

        ws.onmessage = function (e) {
            const message = JSON.parse(e.data);

            const event = new MessageEvent("update", {
                data: message.data
            });
            document.getElementById(message.id).dispatchEvent(event);
        };

        window.ws = ws;
    };

    function toggleState(objectId) {
        const card = document.getElementById(objectId);
        const currState = card.dataset.state;

        if (currState === "running") {
            $.post(
                "/state",
                {
                    id: objectId,
                    state: "stop"
                },
                function(){
                    const stateBtn = card.getElementsByClassName("btn-state")[0];
                    const playIcon = stateBtn.getElementsByClassName("icon-play")[0];
                    const pauseIcon = stateBtn.getElementsByClassName("icon-pause")[0];

                    playIcon.setAttribute("hidden", true);
                    pauseIcon.removeAttribute("hidden");

                    card.dataset.state = "paused";
                }
            )
        } else if (currState === "paused") {
            $.post(
                "/state",
                {
                    id: objectId,
                    state: "start"
                },
                function(){
                    const stateBtn = card.getElementsByClassName("btn-state")[0];
                    const playIcon = stateBtn.getElementsByClassName("icon-play")[0];
                    const pauseIcon = stateBtn.getElementsByClassName("icon-pause")[0];

                    playIcon.removeAttribute("hidden");
                    pauseIcon.setAttribute("hidden", true);

                    card.dataset.state = "running";
                }
            )
        }
    }
</script>
{% end %}

{% block content %}

<div class="mt-4"></div>

<div class="row">
    {% for card in layout %}
        {% module Template(card.template, object=card) %}
    {% end %}
</div>

{% end %}