<div id="{{ object.id }}" class="card col-md-6">
    <img src="{{ static_url('img/logo_100px.png') }}" alt="Graph"
         class="property-image card-img-top img-fluid"
    />

    {% if object.text %}
    <div class="card-body">
        <div class="card-text">
            {{ object.text }}
        </div>
    </div>
    {% end %}

    <script type="application/javascript">
        var element = document.getElementById("{{ object.id }}");
        element.addEventListener("update", function(e) {
            if (e.data != null) {
                this.querySelector(".property-image").src = "data:image/png;base64," + e.data["image"];
            }
        });
    </script>
</div>