{% extends 'module.html' %}

{% block content %}
    <img id="{{ object.id }}" name="image"
         src="{{ static_url('img/logo_100px.png') }}" alt="Graph"
         class="card-img-top img-fluid"
    />

    {% if object.text %}
    <div class="card-body">
        <div class="card-text">
            {{ object.text }}
        </div>
    </div>
    {% end %}
{% end %}

{% block script %}
    <script type="application/javascript">
        var element = document.getElementById("{{ object.id }}");
        element.addEventListener("update", function(e) {
            if (e.data != null) {
                this.src = "data:image/png;base64," + e.data;
            }
        });
    </script>
{% end  %}
