<div id="{{ object.id }}" class="card col-md-6">
    <img src="{{ static_url('img/logo_100px.png') }}" alt="Graph"
         class="property-image card-img-top img-fluid"
    />

    <div class="card-body">
        {% if object.text %}
        <div class="card-text">
            <p>
                {{ object.text }}
            </p>
        </div>
        {% end %}

        <table class="table">
            <tbody>
            </tbody>
        </table>
    </div>

    <script type="application/javascript">
        var element = document.getElementById("{{ object.id }}");
        element.addEventListener("update", function(e) {
            if (e.data != null) {
                if (e.data["image"] !== null) {
                    this.querySelector(".property-image").src = "data:image/png;base64," + e.data["image"];
                }
            }
        });
    </script>
</div>
