<div class="card col-md-6">

    <img id="{{ image.id }}" name="image"
         src="{{ static_url('img/logo_100px.png') }}" alt="Graph"
         class="card-img-top img-fluid"
    />

    {% if image.text %}
    <div class="card-body">
        <div class="card-text">
            {{ image.text }}
        </div>
    </div>
    {% end %}

    <script type="application/javascript">
        var image = document.getElementById("{{ image.id }}");
        image.addEventListener("update", function(e) {
            if (e.data != null) {
                this.src = "data:image/png;base64," + e.data;
            }

            setTimeout(function() {
                window.ws.send(JSON.stringify({
                    topic: "update",
                    id: "{{ image.id }}"
                }))
            }, 1000);
        });
    </script>
</div>
